body{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .sticky {
    background: black !important;
    position: fixed;
    top: 0;
    width: 100%;
    animation-duration: 0.4s;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
  }
.clip-path-hero{
  clip-path: polygon(50% 0%, 100% 0, 100% 86%, 65% 100%, 0 85%, 0 0);
}
.clip-path-hero-mble{
  clip-path: polygon(0 0, 100% 0, 100% 95%, 81% 100%, 0 94%, 0% 50%);

}
.clip-path-work{
  clip-path: polygon(27% 0, 100% 2%, 100% 98%, 71% 100%, 0 97%, 0 2%);

}

.clip-path-footer{
  clip-path: polygon(0 0, 68% 14%, 100% 0, 100% 100%, 0 100%);

}
.slick-dots{
    position: absolute;
    bottom: 50px !important;
}

.slick-dots li.slick-active button:before{
    color: white !important;
    font-size: 15px !important;
}
.slick-dots li button:before{
    opacity: 0.7 !important;
    color: black !important;
    font-size: 15px !important;
}
.slider .slick-dots{
  position: absolute;
  bottom: -20px !important;
}
.slider .slick-dots li.slick-active button:before{
  color: red !important;
  border: 1px solid red !important;
  border-radius: 50%;
  width: 20px;
  height: 19px;
  font-size: 15px !important;
}
.slider .slick-dots li button:before{
  opacity: 0.7 !important;
  color: rgb(151, 151, 151) !important;
  font-size: 15px !important;
}
